/* PRECONFIG */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: raleway-medium;
    src: url('../fonts/raleway-medium-webfont.woff');
}

@font-face {
    font-family: raleway-bold;
    src: url('../fonts/raleway-bold-webfont.woff');
}

.container {
    width: 1142px;
    display: flex;
    justify-content: space-between;
    
}

.column {
    flex-direction: column;
}

/* TOPO */
header {
    display: flex;
    position: relative;
    align-content: center;
    background: url('../images/hero-01.jpg') no-repeat;
    background-size: 100% 100%;
    height: 96vh;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 50% 100%, 0 78%);
}

header .container {
    align-self: center;
}

header .nav-bar {
    width: 100%;
    height: 115px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-logo {
    font-size: 30px;
    color: #ecf0f1;
    font-family: raleway-bold;
}

.nav-bar .nav-logo img {
    height: 90px;
}

.nav-bar .nav-link {
    font-family: raleway-medium;
    z-index: 10;
}

.nav-botao { 
    display: none;
    width: 40px;
    height: 40px;
   }

   .nav-botao-linha {
    height: 5px;
    background-color: #ecf0f1;;
    margin-bottom: 12px;
}

.nav-link ul {
    list-style: none;
    display: flex;
}

.nav-link ul li:not(:last-child) {
    padding-right: 25px;
}

.nav-link ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #ecf0f1;
}

/* BANNER */
.banner-box {
    color: #fff;
    width: 672px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-box .banner-logo {
    margin-bottom: 38px;
}

.banner-box .banner-texto-box {
    margin-bottom: 38px;
}

.banner-box .banner-logo img {
    display: inline-block;
}


.banner-box .banner-texto-box .banner-texto {
    display: block;
    font-size: 18px;
    font-family: raleway-medium;
}

.banner-box .botao {
    display: inline-block;
    text-decoration: none;
    color: #ecf0f1;
    font-family: raleway-bold;
    font-size: 15px;
    border: 3px solid #ecf0f1;
    padding: 15px 36px;
    border-radius: 5px;
}

.banner-box .banner-scroll {
    padding-top: 228px;
}

.banner-box .banner-scroll img {
    display: inline-block;
}

.banner-box .banner-scroll .banner-scroll-titulo{
    display: block;
    font-family: raleway-bold;
    font-size: 15px;
}

/* SERVICOS */
section#servicos {
    display: flex;
    justify-content: center;
    height: auto;
}

.container-servicos {
    width: 945px;
}

.section-titulo {
    display: flex;
    align-items: center;
    padding-top: 65px;
    
}

.section-titulo h1 {
    text-transform: uppercase;
    font-family: raleway-bold;
    color: #2980b9;
}

.hr-line {
    width: 35px;
    height: 5px;
    background-color: #2980b9;
}

.servicos-detalhes {
    display: flex;
}

.servicos-detalhes-item {
    flex: 1;

}

.servicos-detalhes-item:not(:last-child) {
margin-right: 230px;
}

.servicos-detalhes-img {
    display: flex;
    flex-direction: column;
}


.servicos-detalhes-img img {
    height: 60px;
    align-self: center;
}

.servicos-detalhes-img .servicos-detalhes-img-titulo {
    align-self: center;
    font-family: raleway-bold;
    font-size: 20px;
    color: #616161;
    margin-top: 20px;
    margin-bottom: 20px;
}

.servicos-detalhes-desc {
    font-family: raleway-medium;
    font-size: 14px;
    color: #868687;
    display: flex;
    text-align: center;
}

/* PORTIFOLIO */
section#portifolio {
    display: flex;
    justify-content: center;
    height: 960px;
    clip-path: polygon(0 0, 50% 22%, 100% 0, 100% 78%, 50% 100%, 0 78%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../images/hero-02.jpg');
    background-size: 100% 100%;
}

section#portifolio .container {
    margin-top: 212px;
    height: 60%;
}

section#portifolio .portifolio-titulo {
    height: 165px;
}

section#portifolio .portifolio-titulo .section-titulo h1
 {
    color: #fafcfe;
}

section#portifolio .portifolio-titulo .section-titulo .hr-line {
    background-color: #fafcfe;
}

section#portifolio .portifolio-projetos {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.portifolio-projetos-item {
    width: 380.667px;
}

#portifolio-projetos-item-1 {
    background: linear-gradient(to right, rgba(96, 154, 192, 0.5), rgba(41, 128, 185, 0.5)), url('../images/p1.jpg');
    background-size: 100% 100%;
}

#portifolio-projetos-item-2 {
    background: linear-gradient(to right, rgba(96, 154, 192, 0.5), rgba(41, 128, 185, 0.5)), url('../images/p2.jpg');
    background-size: 100% 100%;
}

#portifolio-projetos-item-3 {
    background: linear-gradient(to right, rgba(96, 154, 192, 0.5), rgba(41, 128, 185, 0.5)), url('../images/p3.jpg');
    background-size: 100% 100%;
}

#portifolio-projetos-item-4 {
    background: linear-gradient(to right, rgba(96, 154, 192, 0.5), rgba(41, 128, 185, 0.5)), url('../images/p4.jpg');
    background-size: 100% 100%;
}

#portifolio-projetos-item-5 {
    background: linear-gradient(to right, rgba(96, 154, 192, 0.5), rgba(41, 128, 185, 0.5)), url('../images/p5.jpg');
    background-size: 100% 100%;
}

#portifolio-projetos-item-6 {
    background: linear-gradient(to right, rgba(96, 154, 192, 0.5), rgba(41, 128, 185, 0.5)), url('../images/p6.jpg');
    background-size: 100% 100%;
}

/* TIME */
section#time {
    display: flex;
    justify-content: center;
    height: 600px;
}

section#time .time-titulo {
    height: 165px;
    margin-bottom: 65px;
} 

.section-titulo .hr-line {
 margin-top: 10px;
 margin-bottom: 20px;
}

section#time .time-container {
    display: flex;
    flex: 1;
}

section#time .time-desc {
    padding-right: 300px;
    padding-left: 300px;
    font-size: 14px;
    font-family: raleway-medium;
    text-align: center;
    color: #868687;
}

section#time .time-container .time-container-item {
  flex: 1;
}

section#time .time-container-item-img {
    height: 250px;
}

section#time .time-container-item:not(:last-child) {
    margin-right: 22px;
}


section#time #time-img-1 {
    background: url('../images/team1.jpg') center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

section#time #time-img-2 {
    background: url('../images/team2.jpg') center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

section#time #time-img-3 {
    background: url('../images/team3.jpg') center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

section#time #time-img-4 {
    background: url('../images/team4.jpg') center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

section#time .time-item-nome {
    color: #2980b9;
    font-size: 20px;
    font-family: raleway-bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

section#time .time-item-cargo {
    color: #a5a6a7;
    font-size: 15px;
    font-family: raleay-medium;
    text-align: center;
}

/* LOCALIZACAO */
section#localizacao {
    display: flex;
    justify-content: center;
    height: 960px;
    clip-path: polygon(0 0, 50% 22%, 100% 0, 100% 78%, 50% 100%, 0 78%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../images/hero-03.jpg');
    background-size: 100% 100%;
}

section#localizacao .container {
    margin-top: 212px;
    height: auto;
    justify-content: flex-start;
}

section#localizacao .localizacao-titulo {
    height: 165px;
    margin-bottom: 60px;
}

section#localizacao .localizacao-titulo .section-titulo h1
 {
    color: #fafcfe;
}

section#localizacao .localizacao-titulo .section-titulo .hr-line {
    background-color: #fafcfe;
}

section#localizacao .localizacao-desc {
    padding-right: 300px;
    padding-left: 300px;
    font-size: 14px;
    font-family: raleway-medium;
    text-align: center;
    color: #fafcfe;
}

section#localizacao .localizacao-mapa {
    height: 390px;
    display: flex;
    justify-content: center;
    position: relative;
}

.localizacao-mapa .ponto {
    position: absolute;
    left: 215px;
    bottom: 55px;
}

.localizacao-mapa .ponto img{
    height: 30px;
}

/* CLIENTES */
section#clientes {
    display: flex;
    justify-content: center;
    height: 515px;
}

section#clientes .container {
    justify-content: flex-start;
}

section#clientes .clientes-titulo {
    height: 165px;
    margin-bottom: 60px;
}

section#clientes .clientes-desc {
    padding-right: 300px;
    padding-left: 300px;
    font-size: 14px;
    font-family: raleway-medium;
    text-align: center;
    color: #909192;
}

section#clientes .clientes-item {
    display: flex;
    height: 45px;
}

.clientes-item .clientes-item-img {
    display: flex;
    justify-content: center;
    flex: 1;
}

section#clientes  #hr-line-full {
    width: 92%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

section#clientes .clientes-desc-2 {
    align-self: center;
    display: flex;
    margin-top: 55px;
    margin-bottom: 30px;
    height: 85px;
    width: 860px;
}

.clientes-desc-2 .clientes-desc-2-left, 
.clientes-desc-2 .clientes-desc-2-right {
    display: flex;
    align-items: center;
    flex: 1;
    
}

.clientes-desc-2 .clientes-desc-2-conteudo {
    flex: 8;
    text-align: center;
    font-family: raleway-medium;
    font-size: 18px;
    color: #9b9c9d;
}

section#clientes .clientes-nome {
    align-self: center;
}

.clientes-nome .blue {
    font-family: raleway-bold;
    font-size: 18px;
    color: #2980b9;
}

.clientes-nome .dark {
    font-family: raleway-bold;
    font-size: 18px;
    color: #909192;
}

/* CLIENTES */
section#contato {
    display: flex;
    justify-content: center;
    height: 750px;
    clip-path: polygon(0 0, 50% 22%, 100% 0, 100% 100%, 0% 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../images/hero-04.jpg');
    background-size: 100% 100%;
}

section#contato .container {
    margin-top: 166px;
    height: auto;
    justify-content: flex-start;
}

section#contato .contato-titulo {
    height: 165px;
    margin-bottom: 60px;
}

section#contato .contato-titulo .section-titulo h1
 {
    color: #fafcfe;
}

section#contato .contato-titulo .section-titulo .hr-line {
    background-color: #fafcfe;
}

section#contato .contato-desc {
    padding-right: 300px;
    padding-left: 300px;
    font-size: 14px;
    font-family: raleway-medium;
    text-align: center;
    color: #fafcfe;
}

section#contato .contato-item-container {
    display: flex;
    height: auto;
}

section#contato .contato-item-container .contato-item {
    display: flex;
    flex: 1;
    align-items: center;
}

.contato-item .contato-item-nome {
    font-family: raleway-bold;
    font-size: 20px;
    color: #fafcfe;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contato-item .contato-item-desc {
    font-family: raleway-medium;
    font-size: 15px;
    color: #dcdee0;
}

.copy-right {
    font-family: raleway-medium;
    font-size: 15px;
    color: #dcdee0;
    text-align: center;
    margin-top: 90px;
}